In [1]:
import pandas as pd
import json
import time
from datetime import datetime

In [21]:
def apply_date(x):
    month_day = datetime.strptime(x, '%m-%d').date()
    
    # Set the year to 2023 and create the final datetime object
    return datetime(2023, month_day.month, month_day.day)

def apply_time(x):
    ampm, time =x.split(' ')
    hour, minute = map(int, time.split(':'))
    if ampm == '오후':
        hour += 12
        if hour == 24:
            hour = 0
    now = datetime.now()
    
    # Create the datetime object with the adjusted hour and minute
    return now.replace(hour=hour, minute=minute, second=0, microsecond=0)

def apply_price(x):
    return int(x.replace(',',''))

def apply_flight_time(x):
    hour_str,min_str = x.split()
    hour_str,min_str = hour_str.strip('시간'),min_str.strip('분')

CREATE Accommodation (
    ID INT
    시설 이름 CHAR(100)
    별점 INT
    시설 유형 CHAR(100)
    가격 (INT)
    위치 CHAR(100)
    체크인 날짜 DATETIME
    요일 CHAR(100)
);

CREATE TABLE Flights (
    ID INT
    클래스 CHAR(50)
    가격 (INT)
    출발 공항 CHAR(100)
    도착 공항 CHAR(100)
    소요 시간 TIME
    경유 횟수 INT
    출발 시간 TIME
    도착 시간 TIME
    날짜 DATETIME
    요일 CHAR(100)
    항공사 CHAR(100)
);

In [6]:
df1 = pd.read_csv('KRtoLA.csv')
df1.info()
ndf1 = df1.copy()

ndf1['departuredate'] = ndf1['departuredate'].apply(apply_date)
ndf1['arrivaldate'] = ndf1['arrivaldate'].apply(apply_date)
ndf1['departuretime'] = ndf1['departuretime'].apply(apply_time)
ndf1['arrivaltime'] = ndf1['arrivaltime'].apply(apply_time)
ndf1['price'] = ndf1['price'].apply(apply_price)
ndf1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28301 entries, 0 to 28300
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   departuredate  28301 non-null  object
 1   departureday   28301 non-null  object
 2   departuretime  28301 non-null  object
 3   class          28301 non-null  object
 4   arrivaldate    28301 non-null  object
 5   arrivalday     28298 non-null  object
 6   arrivaltime    28301 non-null  object
 7   flighttime     28301 non-null  object
 8   flighttype     28301 non-null  int64
 9   price          28301 non-null  object
 10  airlines       28301 non-null  object
 11  portd          28301 non-null  object
 12  porta          28301 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.8+ MB

,departuredate,departureday,departuretime,class,arrivaldate,arrivalday,arrivaltime,flighttime,flighttype,price,airlines,portd,porta
0,2023-09-01,금,2023-07-25 20:20:00,이코노미,09-01,금,오후 11:52,19시간 32분,1,"1,173,900","아시아나, 알래스카항공",ICN,LAX
1,2023-09-01,금,2023-07-25 13:40:00,이코노미,09-01,금,오전 08:20,10시간 40분,0,"1,361,100",Air Premia Inc,ICN,LAX
2,2023-09-01,금,2023-07-25 14:40:00,이코노미,09-01,금,오전 10:20,11시간 40분,0,"1,421,200",아시아나,ICN,LAX
3,2023-09-01,금,2023-07-25 21:05:00,이코노미,09-01,금,오후 11:52,18시간 47분,1,"1,235,800","대한항공, 알래스카항공",ICN,LAX
4,2023-09-01,금,2023-07-25 09:00:00,이코노미,09-01,금,오후 12:38,19시간 38분,1,"1,275,300","대한항공, 아메리칸항공",GMP,LAX
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28296,2023-09-30,토,2023-07-25 08:40:00,퍼스트,09-30,토,오후 12:50,20시간 10분,1,"15,896,700","아시아나, 싱가포르항공전일본공수",GMP,LAX
28297,2023-09-30,토,2023-07-25 08:10:00,퍼스트,09-30,토,오후 08:30,28시간 20분,3,"16,454,000","아시아나, 전일본공수, 유나이티드항공운항사: Skywest DBA United Ex...",GMP,BUR
28298,2023-09-30,토,2023-07-25 08:50:00,퍼스트,09-30,토,오후 02:55,22시간 5분,1,"23,579,800","아시아나, 캐세이패시픽항공",ICN,LAX
28299,2023-09-30,토,2023-07-25 08:10:00,퍼스트,09-30,토,오후 02:55,22시간 45분,1,"24,204,200","대한항공, 캐세이패시픽항공",ICN,LAX
28300,2023-09-30,토,2023-07-25 10:10:00,퍼스트,09-30,토,오후 02:55,20시간 45분,1,"24,230,500",캐세이패시픽항공,ICN,LAX

In [ ]:
import sqlite3

# Create a connection to the database (if it doesn't exist, a new one will be created)
conn = sqlite3.connect('Database.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a table (if it doesn't exist)
cursor.execute('''CREATE TABLE IF NOT EXISTS accommodation (
                    ID INT PRIMARY KEY,
                    name TEXT,
                    satisfaction FLOAT,
                    price INT,
                    location TEXT,
                    checkin_date DATETIME,
                    weekday CHAR(100)
                )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS flights (
                    ID INT PRIMARY KEY,
                    class CHAR(50),
                    price INT,
                    departure_airport TEXT,
                    arrival_airport TEXT,
                    flight_time INT,
                    stopovers INT,
                    departure_time DATETIME,
                    arrival_time DATETIME,
                    date DATETIME,
                    weekday CHAR(100),
                    airline TEXT
                )''')

In [ ]:

# Insert data into the table
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Alice', 25))
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Bob', 30))
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Charlie', 22))

# Save (commit) the changes
conn.commit()

# Query the data from the table
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection to the database
conn.close()

In [26]:
hour,min =  '12시간 2분'.split()
min.strip('분')

'2'